<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="../iron-icons/iron-icons.html">
<link rel="import" href="../paper-button/paper-button.html">
<link rel="import" href="../paper-drawer-panel/paper-drawer-panel.html">
<link rel="import" href="../paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../paper-header-panel/paper-header-panel.html">
<link rel="import" href="../paper-icon-button/paper-icon-button.html">
<link rel="import" href="../paper-input/paper-input.html">
<link rel="import" href="../paper-input/paper-textarea.html">
<link rel="import" href="../paper-item/paper-item.html">
<link rel="import" href="../paper-item/paper-item-body.html">
<link rel="import" href="../paper-material/paper-material.html">
<link rel="import" href="../paper-menu/paper-menu.html">
<link rel="import" href="../paper-radio-button/paper-radio-button.html">
<link rel="import" href="../paper-radio-group/paper-radio-group.html">
<link rel="import" href="../paper-toast/paper-toast.html">
<link rel="import" href="../paper-toolbar/paper-toolbar.html">
<link rel="import" href="../campus-behavior/campus-behavior.html">
<link rel="import" href="../moment-element/moment-with-locales-import.html">
<!--
`campus-individualized-education-program`
@demo demo/campus-individualized-education-program.html
-->
<dom-module id="campus-individualized-education-program">
    <style include="iron-flex iron-flex-alignment iron-flex-factors"></style>
    <style>
    :host {
        display: block;
        position: relative;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        background: #f2f2f2;
        height: 100%;
    }
    
    :host paper-item {
        color: rgba(0, 0, 0, .67);
    }
    
    :host paper-item:hover {
        background-color: rgba(0, 0, 0, .13);
        cursor: pointer;
    }
    
    :host paper-toolbar paper-dropdown-menu {
        --paper-input-container-color: var(--light-theme-divider-color);
        --paper-input-container-focus-color: #fff;
        --paper-input-container-input-color: #fff;
    }
    
    :host [edit] paper-radio-button /deep/ #radioLabel {
        display: inline-flex;
        width: calc(100% - 20px);
    }
    
    :host [edit] paper-input {
        width: 60px;
        --paper-input-container: {
            padding: 0 5px;
            text-align: center;
        }
    }
    
    :host [edit] paper-textarea {
        flex: 1 1 220px;
        --paper-input-container: {
            padding: 0 5px;
        }
    }
    
    :host .ellipsis-text {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    
    :host .dark-primary-text-color {
        color: var(--dark-primary-color);
    }
    
    :host .primary-text-color {
        color: var(--primary-color);
    }
    
    :host .secondary-text-color {
        color: var(--secondary-text-color);
    }
    
    :host .error-text-color {
        color: var(--error-color);
    }
    
    :host .tbar {
        padding: 14px 12px 4px 16px;
        line-height: 24px;
        font-size: 18px;
    }
    
    :host .paper-header {
        padding: 8px;
        margin: 0 8px;
        border-bottom: 1px solid #ccc;
    }
    
    @media (min-width: 769px) {
        :host .card-item {
            margin: 10px;
        }
        :host [drawer] {
            background: #f2f2f2;
        }
    }
    
    @media (max-width: 768px) {
        :host [drawer] {
            background: #fff;
        }
    }
    </style>
    <template>
        <paper-drawer-panel id="drawerPanel" responsive-width="768px">
            <paper-header-panel mode="waterfall" drawer>
                <paper-toolbar>
                    <paper-dropdown-menu label="課程" class="flex-auto">
                        <paper-menu class="dropdown-content" selected="{{chooseCourse}}" attr-for-selected="value">
                            <template is="dom-repeat" items="[[courses]]">
                                <paper-item value="[[item]]" on-tap="_getStudents">[[item.CourseName]]</paper-item>
                            </template>
                        </paper-menu>
                    </paper-dropdown-menu>
                </paper-toolbar>
                <div>
                    <div class="paper-header layout vertical start-center">
                        <div style="line-height:24px">開始時間：[[opentime.Begin]]</div>
                        <div style="line-height:24px">結束時間：[[opentime.End]]</div>
                    </div>
                    <template is="dom-repeat" items="[[students]]">
                        <paper-item on-tap="_edit">
                            <paper-item-body two-line>
                                <div class="layout horizontal center">
                                    <div class="flex-auto">[[item.Name]]</div>
                                    <div>[[item.ClassName]]</div>
                                </div>
                                <div class="layout horizontal center">
                                    <div class="flex-auto">[[item.Tag]]</div>
                                </div>
                            </paper-item-body>
                        </paper-item>
                    </template>
                </div>
            </paper-header-panel>
            <paper-header-panel mode="waterfall" main>
                <paper-toolbar>
                    <paper-icon-button icon="icons:menu" paper-drawer-toggle></paper-icon-button>
                    <div class="title">[[target.ClassName]] [[target.Name]] [[target.Tag]]</div>
                    <div hidden$="[[!target]]">
                        <paper-button on-tap="_save" hidden$="[[inputDisabled]]">
                            <iron-icon icon="icons:save"></iron-icon>
                            <span style="margin-left:5px">儲存</span>
                        </paper-button>
                    </div>
                </paper-toolbar>
                <div>
                    <template is="dom-repeat" items="[[target.exams]]" as="exam">
                        <div class="card-item">
                            <div class="secondary-text-color tbar">
                                <div>[[exam.Name]]</div>
                            </div>
                            <paper-material elevation="1" style="background:#fff">
                                <template is="dom-repeat" items="[[exam.Types]]" as="type">
                                    <div style="padding:16px;border-top:1px solid #eee;margin-top:-1px">
                                        <div style="margin-bottom:10px" hidden$="[[!type.Name]]" edit>
                                            <div class="dark-primary-text-color" style="font-size:18px;margin-bottom:10px">[[type.Name]]</div>
                                            <paper-radio-group class="layout vertical" selected="{{type.selected}}">
                                                <template is="dom-repeat" items="[[type.Properities]]" as="prop">
                                                    <paper-radio-button name$="[[prop.key]]" style="padding:0" disabled$="[[inputDisabled]]">
                                                        <div class="layout horizontal center wrap flex">
                                                            <template is="dom-repeat" items="[[prop.values]]">
                                                                <template is="dom-if" if="[[item.isText]]">
                                                                    <template is="dom-repeat" items="[[item.value]]">
                                                                        <div hidden$="[[!item]]">[[item]]</div>
                                                                        <div hidden$="[[item]]">&nbsp;</div>
                                                                    </template>
                                                                </template>
                                                                <paper-input no-label-float value="{{item.value}}" hidden="[[!item.isInput]]"></paper-input>
                                                                <paper-textarea no-label-float value="{{item.value}}" hidden="[[!item.isTextarea]]"></paper-textarea>
                                                            </template>
                                                        </div>
                                                    </paper-radio-button>
                                                </template>
                                            </paper-radio-group>
                                        </div>
                                        <div>
                                            <div class="layout horizontal end" style="margin-bottom:10px">
                                                <paper-textarea class="flex" label="評量描述" value="{{type.memo}}" name$="Memo-[[exam.Name]]-[[type.Name]]"></paper-textarea>
                                                <paper-button class="dark-primary-text-color" style="margin-left:16px" on-tap="_addMemo">
                                                    <iron-icon icon="icons:create" style="margin-right:5px"></iron-icon>
                                                    <span>新增</span>
                                                </paper-button>
                                            </div>
                                            <template is="dom-repeat" items="[[type.Memos]]" as="memo">
                                                <div class="layout vertical" style="padding:5px;border-bottom:1px solid #ccc">
                                                    <div class="layout horizontal center">
                                                        <div class="flex-auto">[[memo.date]]</div>
                                                        <paper-icon-button class="secondary-text-color" icon="icons:clear" on-tap="_removeMemo"></paper-icon-button>
                                                    </div>
                                                    <div class="secondary-text-color">[[memo.content]]</div>
                                                </div>
                                            </template>
                                        </div>
                                    </div>
                                </template>
                            </paper-material>
                        </div>
                    </template>
                </div>
            </paper-header-panel>
        </paper-drawer-panel>
        <paper-toast id="toast"></paper-toast>
    </template>
    <script>
    Polymer({
        is: "campus-individualized-education-program",

        properties: {
            opentime: Object,
            chooseCourse: Object,
            courses: Array,
            students: Array
        },

        behaviors: [Campus.ServiceBehavior],

        ready: function() {
            this._getOpenTime();
            this._getCourses();
            this._getExams();

            this.set('target', null);

            this.$.drawerPanel.openDrawer();
        },

        _getOpenTime: function() {
            var request = {
                contract: 'ischool.iep',
                service: '_.GetOpenTime',
                body: ''
            }

            this.generateRequest(request, function(response) {
                if (response && response.OpenTime) {
                    this.set('opentime', {
                        Begin: moment(response.OpenTime.Begin).format('YYYY/MM/DD hh:mm'),
                        End: moment(response.OpenTime.End).format('YYYY/MM/DD hh:mm')
                    });

                    var now = Date.now(),
                        begin = Date.parse(this.opentime.Begin),
                        end = Date.parse(this.opentime.End);
                    if (now < begin || now > end)
                        this.set('inputDisabled', true);
                }
            }.bind(this));
        },

        _getCourses: function() {
            var request = {
                contract: 'ischool.iep',
                service: '_.GetCourses',
                body: ''
            }

            this.generateRequest(request, function(response) {
                if (response && response.Course) {
                    this.set('courses', [].concat(response.Course || []));
                    if (this.courses.length > 0) {
                        this._getStudents({
                            model: {
                                item: this.courses[0]
                            }
                        });
                    }
                }
            }.bind(this));
        },

        _getStudents: function(e) {
            this.set('chooseCourse', e.model.item);
            this.set('target', null);

            var request = {
                contract: 'ischool.iep',
                service: '_.GetStudents',
                body: {
                    UID: this.chooseCourse.CourseID
                }
            }

            this.generateRequest(request, function(response) {
                if (response && response.Student)
                    this.set('students', [].concat(response.Student || []));
                else
                    this.set('students', []);
            }.bind(this));
        },

        _getExams: function() {
            var request = {
                contract: 'ischool.iep',
                service: '_.GetExams',
                body: ''
            }

            this.generateRequest(request, function(response) {
                if (response && response.Exam)
                    this.set('exams', [].concat(response.Exam || []));
                else
                    this.set('exams', []);
            }.bind(this));
        },

        _edit: function(e) {
            this.$.drawerPanel.closeDrawer();

            this.set('target', JSON.parse(JSON.stringify(e.model.item)));
            var exams = JSON.parse(JSON.stringify(this.exams));

            exams.forEach(function(exam, eIdx) {
                if (exam.Types) {
                    exam.Types = [].concat(exam.Types);
                    exam.Types.forEach(function(type, tIdx) {
                        if (type.Items) {
                            type.Items = [].concat(type.Items);
                            type.Properities = [];
                            type.Memos = [];
                            type.Items.forEach(function(item, iIdx) {
                                var properity = {
                                    key: item,
                                    values: []
                                };
                                var temp = item.split('##');
                                temp.forEach(function(t) {
                                    if (t === 'INPUT') {
                                        properity.values.push({
                                            isInput: true,
                                            value: ''
                                        });
                                    } else if (t === 'TEXTAREA') {
                                        properity.values.push({
                                            isTextarea: true,
                                            value: ''
                                        });
                                    } else if (t !== '') {
                                        var vs = t.split('');
                                        vs.forEach(function(v, vdx) {
                                            if (v === ' ') vs[vdx] = false;
                                        });
                                        properity.values.push({
                                            isText: true,
                                            value: vs
                                        });
                                    }
                                });
                                type.Properities.push(properity);
                            }.bind(this));
                        }
                    }.bind(this));
                }
            }.bind(this));

            var request = {
                contract: 'ischool.iep',
                service: '_.GetIEPData',
                body: {
                    Request: {
                        StudentID: this.target.ID,
                        CourseID: this.chooseCourse.CourseID
                    }
                }
            }

            this.generateRequest(request, function(response) {
                if (response && response.Items) {
                    var items = [].concat(response.Items.Item || []);
                    items.forEach(function(item) {
                        exams.forEach(function(exam) {
                            if (item.Exam === exam.Name) {
                                exam.Types.forEach(function(type) {
                                    if (item.Type === type.Name) {
                                        type.selected = item.Item;
                                        if (item.Value) {
                                            type.Properities.forEach(function(prop) {
                                                if (prop.key === item.Item) {
                                                    var values = JSON.parse(item.Value);
                                                    prop.values.forEach(function(v, idx) {
                                                        if (v.isText)
                                                            v.value = values[idx].split('');
                                                        else
                                                            v.value = values[idx];
                                                    });
                                                }
                                            });
                                        }
                                    }
                                });
                            }
                        });
                    });
                }

                this.set('target.exams', exams);
                this._getMemo();
            }.bind(this));
        },

        _save: function(e) {
            var items = [];
            this.target.exams.forEach(function(exam) {
                exam.Types.forEach(function(type) {
                    if (type.selected) {
                        var idx = type.Items.indexOf(type.selected);
                        var value = [];
                        type.Properities[idx].values.forEach(function(v) {
                            if (v.isText) {
                                value.push(v.value.map(function(e) {
                                    return !e ? ' ' : e;
                                }).join(''));
                            } else
                                value.push(v.value);
                        });
                        items.push({
                            Exam: exam.Name,
                            Type: type.Name,
                            Item: type.selected,
                            Value: JSON.stringify(value)
                        });
                    }
                });
            });

            var request = {
                contract: 'ischool.iep',
                service: '_.SetIEPData',
                body: {
                    Request: {
                        StudentID: this.target.ID,
                        CourseID: this.chooseCourse.CourseID,
                        Items: {
                            Item: items
                        }
                    }
                }
            }

            this.generateRequest(request, function(response) {
                if (!response.Error) {
                    this.$.toast.show({
                        text: '儲存完成!',
                        duration: 1000
                    });

                    this._edit({
                        model: {
                            item: this.target
                        }
                    });
                } else {
                    this.$.toast.show({
                        text: response.Error,
                        duration: 1000
                    });
                }
            }.bind(this));
        },

        _addMemo: function(e) {
            if (!e.model.type.memo || e.model.type.memo === '') return;

            var dataHost = e.model.dataHost;
            while (!dataHost.exam) {
                dataHost = dataHost.dataHost;
            }
            var examHost = dataHost;

            var request = {
                contract: 'ischool.iep',
                service: '_.AddMemo',
                body: {
                    Request: {
                        StudentID: this.target.ID,
                        CourseID: this.chooseCourse.CourseID,
                        Exam: examHost.exam.Name,
                        Type: e.model.type.Name,
                        Content: e.model.type.memo
                    }
                }
            }

            this.generateRequest(request, function(response) {
                this._getMemo();
                Polymer.dom(this.root).querySelector(['paper-textarea[name="Memo-', examHost.exam.Name, '-', e.model.type.Name, '"]'].join('')).value = '';
            }.bind(this));
        },

        _removeMemo: function(e) {
            var request = {
                contract: 'ischool.iep',
                service: '_.DeleteMemo',
                body: {
                    UID: e.model.memo.uid
                }
            }

            this.generateRequest(request, function(response) {
                this._getMemo();
            }.bind(this));
        },

        _getMemo: function() {
            var request = {
                contract: 'ischool.iep',
                service: '_.GetMemo',
                body: {
                    Request: {
                        StudentID: this.target.ID,
                        CourseID: this.chooseCourse.CourseID
                    }
                }
            }

            this.generateRequest(request, function(response) {
                if (response && response.Items) {
                    var items = [].concat(response.Items.Item || []);
                    this.target.exams.forEach(function(exam, eIdx) {
                        exam.Types.forEach(function(type, tIdx) {
                            var memos = [];
                            items.forEach(function(item) {
                                if (item.Exam === exam.Name && item.Type === type.Name) {
                                    memos.push({
                                        uid: item.UID,
                                        date: moment(item.Date).format('YYYY/MM/DD hh:mm'),
                                        content: item.Content
                                    })
                                }
                            }.bind(this));

                            this.set(['target.exams.', eIdx, '.Types.', tIdx, '.Memos'].join(''), memos);
                        }.bind(this));
                    }.bind(this));
                }
            }.bind(this));
        }
    });
    </script>
</dom-module>
